<footer>
    <div class="jumbotron front-footer text-white">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-xs-12">
                    <h3>All encounters are reunions after a long separation.</h3>
                    <p>POWER BY <strong>Django</strong></p>
                </div>
                <div class="col-md-5 col-xs-12">
                    <h2>CONTACT ME</h2>
                    <ul class="list-unstyled contact-info">
                        <li><i class="iconfont">&#xe69f;</i>&emsp;<a href="https://github.com/JielongYang">JielongYang</a></li>
                        <li><i class="iconfont">&#xe6a5;</i>&emsp;1054223731@qq.com</li>
                        <li><i class="iconfont">&#xe829;</i>&emsp;<a href=""></a></li>
                        <li><i class="iconfont">&#xe602;</i>&emsp;<a href=""></a></li>
                    </ul>
                </div>
                
            </div>
        </div>
    </div>
</footer>